// custom.scss

// All of your custom SCSS variables go first
// see options in node_modules/bootstrap/scss/_variables.scss
$font-family-sans-serif: "Roboto", sans-serif;


$primary:       #FFE400;
$secondary:     #797F83;
$light:         #EBEBE6;
$dark:          #585656;

$enable-shadows: true;
$enable-gradients: true;


  
//then bootstrap & bootstrap-vue should be added after 
//all other custom scss files or css should be added here
//so that they inherit the custom SCSS variables
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

body {
  background-color: #F2F2F2;
}
.navbar {
  font-family: "Dosis", sans-serif;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
}
.jumbotron { 
  background-color: $primary;
  color: $dark;
  a {
    color: darken($blue, 15%);
  }
}
h1,h2 {
  font-family: "Dosis", sans-serif;
}
.full-width {
  padding-right: 0;
  padding-right: 0;
}

@include media-breakpoint-between(lg, xl) {
  .container-right {
    padding-left: calc(calc(calc(100% - 1140px) / 2) + 15px); 
  }
}
@include media-breakpoint-between(md, lg) {
  .container-right {
    padding-left: calc(calc(calc(100% - 960px) / 2) + 15px); 
  }
}
@include media-breakpoint-between(sm, md) {
  .container-right {
    padding-left: calc(calc(calc(100% - 720px) / 2) + 15px); 
  }
}
@include media-breakpoint-between(0, sm) {
  .container-right {
    padding-left: calc(calc(calc(100% - 540px) / 2) + 15px); 
  }
}

@include media-breakpoint-between(lg, 9999999) {
  .modal-content {
    min-height: 80vh;
    min-width: 100%;
  }
}

@include media-breakpoint-between(0, lg) {
  .modal-dialog.modal-xl {
    max-width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: 100000;
  }
}
