// custom.scss

// All of your custom SCSS variables go first
$primary:      white;
$secondary:     rgb(255, 228, 0);
$light:         #f1f1f1 ;
$dark:          #c44242 ;//then bootstrap & bootstrap-vue should be added after 
//all other custom scss files or css should be added here
$color:  #ff00aa;
$enable-rounded: true;
$blue:    #00ff6a;

$enable-shadows: true;
$enable-gradients: true;
$grid-breakpoints: (
  xs: 0,
  sm: 456px,
  md: 789px,
  lg: 999px,
  xl: 1234px
);
$bv-enable-table-stacked: false;

$body-bg: #000;
$body-color: #111;
//so that they inherit the custom SCSS variables
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
