name: ci

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

jobs:
  cd:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.1.0
      - uses: actions/setup-node@v2
        with:
          node-version: '18'
          cache: 'yarn'

      - name: Install nuxt
        run: yarn global add nuxt

      - name: Install dependencies
        run: yarn install --check-files

      - name: Run linting
        run: yarn lint
